@media only screen and (max-width: 740px) {
  #wrapper {
    float: right;
    width: 100%;
  }
  .profile {
    font-size: 15.45px;
  }
  #titre {
    margin-left: 10px;
  }
  .row0 {
    height: 270px;
  }
  .col_2 {
    float: left;
    margin-top: -20px;
    margin-left: 0px;
  }
  .row1 {
    height: 200px;
  }
  .row2 {
    height: 500px;
  }
  .row3 {
    height: 260px;
  }
  .row4 {
    height: 170px;
  }
  footer {
    height: 150px;
  }
  footer i {
    margin-top: 10px;
  }
  footer li {
    margin-top: 0px;
    display: table-row;
  }
}

@media only screen and (max-width: 480px) {
  #wrapper {
    float: right;
    width: 100%;
  }

  .nom {
    font-size: 22.5px;
  }

  .profile {
    margin-top: 20px;
    font-size: 10.3px;
    margin-left: -23px;
  }
  #titre {
    margin-left: 10px;
  }
  .row0 {
    height: 270px;
  }
  .col_2 {
    float: left;
    margin-top: -20px;
    margin-left: 0px;
  }
  .row1 {
    height: 230px;
  }
  .row2 {
    height: 700px;
  }
  .row3 {
    height: 290px;
  }
  .row4 {
    height: 205px;
  }
  footer {
    height: 150px;
  }
  footer i {
    margin-top: 10px;
  }
  footer li {
    margin-top: 0px;
    display: table-row;
  }
}
